html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&subset=latin")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="relative pb-20 bg-gray-800 overflow-hidden")
                div(class="absolute bottom-0 inset-x-0 h-full bg-gradient-zospace-1")
                div(class="absolute bottom-0 inset-x-0 h-3/5 w-2full -ml-64 -mb-12 bg-gradient-zospace-2 transform -rotate-6")
                nav(class="relative")
                    div(class="flex py-8 px-4 lg:px-8 justify-between items-center")
                        button(class="p-2 navbar-burger")
                            svg(class="w-10 h-3", width="39", height="13", viewbox="0 0 39 13", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(width="39", height="2", rx="1", fill="#C4C4C4")
                                rect(x="19", y="11", width="20", height="2", rx="1", fill="#C4C4C4")
                        div(class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2")
                            a(class="text-2xl text-white font-bold", href="#")
                                img(class="h-7", src="zospace-assets/logos/zospace-logo.svg", alt="", width="auto")
                        div(class="hidden lg:block")
                            a(class="inline-block mr-10 text-lg text-white hover:text-gray-50 font-bold border-b border-gray-200", href="#") Try for free!
                            a(class="inline-block px-12 py-4 text-white font-bold border border-gray-200 hover:border-white rounded-full", href="#") Sign Up
                div(class="relative container px-4 pt-12 md:pt-20 mx-auto")
                    div(class="hidden 2xl:block absolute bottom-0 w-3/5 mb-40 h-2 border-b border-white")
                    div(class="relative flex flex-wrap -mx-4")
                        div(class="w-full lg:w-1/2 2xl:w-2/5 px-4 mb-12 mb:mb-0")
                            span(class="text-xl lg:text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-200 to-orange-600") Two ways to start!
                            h2(class="max-w-lg lg:max-w-md 2xl:max-w-none mt-7 mb-12 mb:mb-20 text-6xl lg:text-7xl 2xl:text-9xl text-white font-bold font-heading") Get perfect app for your project
                            p(class="mb-12 lg:mb-24 text-lg text-white opacity-90") Discover how it works and start for free.
                            div(class="flex flex-wrap items-center")
                                a(class="inline-block mr-14 px-12 py-5 text-lg text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200", href="#") Get started
                                div(class="w-full sm:w-auto mt-8 sm:mt-0 flex")
                                    button(class="p-2")
                                        svg(width="11", height="20", viewbox="0 0 11 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M10.7597 18.6258C11.0801 18.942 11.0801 19.4502 10.7597 19.7641C10.4393 20.0781 9.92164 20.0792 9.60124 19.7641L0.240298 10.569C-0.0801018 10.255 -0.0801017 9.74688 0.240298 9.43061L9.60124 0.235462C9.92164 -0.0784849 10.4393 -0.0784848 10.7597 0.235462C11.0801 0.550571 11.0801 1.05986 10.7597 1.37381L2.22247 10.0004L10.7597 18.6258Z", fill="white")
                                    span(class="py-2 px-4")
                                        svg(width="2", height="24", viewbox="0 0 2 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 0L1 24", stroke="white", stroke-opacity="0.24")
                                    button(class="p-2")
                                        svg(width="11", height="20", viewbox="0 0 11 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M0.2403 1.37424C-0.0801003 1.05797 -0.0801003 0.549844 0.2403 0.235898C0.5607 -0.0780496 1.07836 -0.0792131 1.39876 0.235898L10.7597 9.43104C11.0801 9.74499 11.0801 10.2531 10.7597 10.5694L1.39876 19.7645C1.07836 20.0785 0.560699 20.0785 0.240298 19.7645C-0.0801019 19.4494 -0.0801019 18.9401 0.240298 18.6262L8.77752 9.99964L0.2403 1.37424Z", fill="white")
                        div(class="w-full lg:w-1/2 2xl:w-3/5 px-4")
                            img(class="w-full h-full object-contain", src="images/logo-with-person.png", alt="")
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                    nav(class="relative flex flex-col py-8 h-full w-full bg-white overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-10 mr-auto text-2xl text-gray-800 font-bold", href="#")
                                img(class="h-7", src="zospace-assets/logos/zospace-dark-logo.svg", alt="", width="auto")
                        div
                            ul
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="#") Product
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="#") Story
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="#") Features
                                li(class="mb-1 px-10")
                                    a(class="block pl-8 py-4 text-xl text-gray-800 hover:bg-blueGray-50 rounded-xl", href="#") Contact
                        div(class="mt-auto px-10")
                            div(class="pt-6")
                                a(class="block mb-4 py-4 px-12 text-gray-800 text-center font-bold border border-gray-50 hover:border-gray-100 rounded-full", href="#") Sign in
                                a(class="block py-4 px-12 text-white text-center font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200", href="#") Sign up
                            p(class="mt-6 mb-4 text-lg text-center")
                                span 2021 © Zospace. All rights reserved.
            section(class="relative py-20 2xl:py-40 bg-gray-800 overflow-hidden")
                img(class="hidden lg:block absolute bottom-0 left-0 -mb-96 -ml-64", src="zospace-assets/lines/circle.svg", alt="")
                div(class="relative container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4 mb-20")
                        div(class="w-full lg:w-1/2 px-4")
                            a(class="inline-block text-2xl text-white font-bold", href="#")
                                img(class="h-7", src="zospace-assets/logos/zospace-logo.svg", alt="", width="auto")
                            h2(class="mt-24 mb-14 text-5xl md:text-7xl font-bold font-heading text-white") Smart-code apps
                            p(class="mb-10 text-xl text-gray-200") Develop apps with AI-driven bots that can synthesize code and automate much of your software development to boost your productivity that no team can match.
                            p(class="mb-12 lg:mb-24 text-xl text-gray-200") Use bots as your developers, scale without HR bottlenecks, and get your apps to market quicker than ever before.
                            div(class="flex items-center mb-8")
                                div(class="inline-flex justify-center items-center w-20 h-20 mr-4 lg:mr-14 bg-blue-500 rounded-lg")
                                    svg(class="w-8 h-8", viewbox="0 0 35 35", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        g(clip-path="url(#clip0)")
                                            path(d="M32.8123 15.3125C32.4098 15.3125 32.0832 14.9858 32.0832 14.5833C32.0832 10.2988 30.4148 6.26937 27.3844 3.24042C27.1 2.95604 27.1 2.49375 27.3844 2.20937C27.6688 1.925 28.1311 1.925 28.4155 2.20937C31.7215 5.51396 33.5415 9.90792 33.5415 14.5833C33.5415 14.9858 33.2148 15.3125 32.8123 15.3125Z", fill="white")
                                            path(d="M2.18754 15.3125C1.78504 15.3125 1.45837 14.9858 1.45837 14.5833C1.45837 9.90792 3.27838 5.51396 6.58442 2.20937C6.86879 1.925 7.33109 1.925 7.61546 2.20937C7.89984 2.49375 7.89984 2.95604 7.61546 3.24042C4.58504 6.26937 2.91671 10.2988 2.91671 14.5833C2.91671 14.9858 2.59004 15.3125 2.18754 15.3125Z", fill="white")
                                            path(d="M19.6875 6.09583C19.285 6.09583 18.9584 5.76917 18.9584 5.36667V2.91667C18.9584 2.11313 18.3036 1.45833 17.5 1.45833C16.6965 1.45833 16.0417 2.11313 16.0417 2.91667V5.36667C16.0417 5.76917 15.715 6.09583 15.3125 6.09583C14.91 6.09583 14.5834 5.77063 14.5834 5.36667V2.91667C14.5834 1.30813 15.8915 0 17.5 0C19.1086 0 20.4167 1.30813 20.4167 2.91667V5.36667C20.4167 5.77063 20.09 6.09583 19.6875 6.09583Z", fill="white")
                                            path(d="M17.5 34.9998C14.6855 34.9998 12.3959 32.7103 12.3959 29.8957C12.3959 29.4932 12.7225 29.1665 13.125 29.1665C13.5275 29.1665 13.8542 29.4932 13.8542 29.8957C13.8542 31.9053 15.4905 33.5415 17.5 33.5415C19.5096 33.5415 21.1459 31.9053 21.1459 29.8957C21.1459 29.4932 21.4725 29.1665 21.875 29.1665C22.2775 29.1665 22.6042 29.4932 22.6042 29.8957C22.6042 32.7103 20.3146 34.9998 17.5 34.9998Z", fill="white")
                                            path(d="M29.8958 30.625H5.10413C3.89808 30.625 2.91663 29.6435 2.91663 28.4375C2.91663 27.7973 3.19517 27.1921 3.68225 26.775C5.98058 24.8325 7.29163 22.0063 7.29163 19.0138V14.5833C7.29163 8.95417 11.8708 4.375 17.5 4.375C23.1291 4.375 27.7083 8.95417 27.7083 14.5833V19.0138C27.7083 22.0077 29.0193 24.8325 31.306 26.7648C31.8048 27.1921 32.0833 27.7973 32.0833 28.4375C32.0833 29.6435 31.1033 30.625 29.8958 30.625ZM17.5 5.83333C12.6743 5.83333 8.74996 9.75771 8.74996 14.5833V19.0138C8.74996 22.4379 7.25079 25.6681 4.636 27.879C4.46829 28.0219 4.37496 28.2246 4.37496 28.4375C4.37496 28.84 4.70163 29.1667 5.10413 29.1667H29.8958C30.2983 29.1667 30.625 28.84 30.625 28.4375C30.625 28.2246 30.5316 28.0219 30.3698 27.8833C27.7506 25.6681 26.25 22.4365 26.25 19.0138V14.5833C26.25 9.75771 22.3256 5.83333 17.5 5.83333Z", fill="white")
                                        defs
                                            clippath(id="clip0")
                                                rect(width="35", height="35", fill="white")
                                div
                                    h4(class="mb-2 text-lg text-white") Schedule a demo
                                    p(class="text-lg text-gray-200") Take the first step to learn about how our technology can help your business. You will be glad you did.
                            div(class="flex items-center")
                                div(class="inline-flex justify-center items-center w-20 h-20 mr-4 lg:mr-14 bg-blue-500 rounded-lg")
                                    svg(class="w-8 h-8", viewbox="0 0 36 35", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        g(clip-path="url(#clip0)")
                                            path(d="M13.5 14.5833C9.3645 14.5833 6 11.3123 6 7.29167C6 3.27104 9.3645 0 13.5 0C17.6355 0 21 3.27104 21 7.29167C21 11.3123 17.6355 14.5833 13.5 14.5833ZM13.5 1.45833C10.191 1.45833 7.5 4.07458 7.5 7.29167C7.5 10.5087 10.191 13.125 13.5 13.125C16.809 13.125 19.5 10.5087 19.5 7.29167C19.5 4.07458 16.809 1.45833 13.5 1.45833Z", fill="white")
                                            path(d="M13.62 30.625H0.75C0.336 30.625 0 30.2983 0 29.8958V24.0625C0 20.4444 3.0285 17.5 6.75 17.5H15.39C15.804 17.5 16.14 17.8267 16.14 18.2292C16.14 18.6317 15.804 18.9583 15.39 18.9583H6.75C3.855 18.9583 1.5 21.2479 1.5 24.0625V29.1667H13.62C14.034 29.1667 14.37 29.4933 14.37 29.8958C14.37 30.2983 14.034 30.625 13.62 30.625Z", fill="white")
                                            path(d="M26.25 34.9998C20.874 34.9998 16.5 30.7473 16.5 25.5207C16.5 20.294 20.874 16.0415 26.25 16.0415C31.626 16.0415 36 20.294 36 25.5207C36 30.7473 31.626 34.9998 26.25 34.9998ZM26.25 17.4998C21.702 17.4998 18 21.099 18 25.5207C18 29.9423 21.702 33.5415 26.25 33.5415C30.798 33.5415 34.5 29.9423 34.5 25.5207C34.5 21.099 30.798 17.4998 26.25 17.4998Z", fill="white")
                                            path(d="M29.25 29.1665C29.058 29.1665 28.866 29.095 28.719 28.9536L25.719 26.0369C25.5795 25.8998 25.5 25.7146 25.5 25.5207V21.1457C25.5 20.7432 25.836 20.4165 26.25 20.4165C26.664 20.4165 27 20.7432 27 21.1457V25.2188L29.781 27.9225C30.0735 28.2069 30.0735 28.6692 29.781 28.9536C29.634 29.095 29.442 29.1665 29.25 29.1665Z", fill="white")
                                        defs
                                            clippath(id="clip0")
                                                rect(width="36", height="35", fill="white")
                                div
                                    h4(class="mb-2 text-lg text-white") Have us develop custom bots
                                    p(class="text-lg text-gray-200") Utilize our extensible AI-assisted development platform to set up your own code synthesizers.
                        div(class="w-full lg:w-1/2 px-4")
                            div(class="mt-16 lg:hidden w-full flex mb-16 lg:mb-0")
                                a(class="mr-4", href="#")
                                    img(class="h-16", src="zospace-assets/buttons/app-store-dark.png", alt="")
                                |                 
                                a(href="#")
                                    img(class="h-16", src="zospace-assets/buttons/google-play-dark.png", alt="")
                            img(class="lg:max-w-lg mx-auto object-cover", src="zospace-assets/images/zospace_app1.png", alt="")
                    div(class="hidden lg:flex items-center justify-center")
                        a(class="mr-4", href="#")
                            img(class="h-16", src="zospace-assets/buttons/app-store-dark.png", alt="")
                        |             
                        a(href="#")
                            img(class="h-16", src="zospace-assets/buttons/google-play-dark.png", alt="")
            section(class="py-20 2xl:py-40 bg-blue-50")
                div(class="container px-4 mx-auto")
                    div(class="mb-20 text-center")
                        span(class="text-lg font-bold text-blue-500") Hey! Have any questions?
                        h2(class="mt-8 text-7xl font-bold font-heading") FAQ's
                    div(class="max-w-4xl mx-auto")
                        ul
                            li(class="mb-4 px-4 lg:px-12 py-8 bg-white rounded-2xl")
                                button(class="flex w-full text-left")
                                    div(class="w-auto mr-8")
                                        span(class="flex items-center justify-center w-12 h-12 text-lg font-bold bg-blue-100 rounded-full") 1
                                    div(class="w-full mt-3")
                                        div(class="flex items-center justify-between")
                                            h3(class="text-xl font-bold") How should I develop my workflow over time?
                                            span(class="ml-4")
                                                svg(class="w-4 h-4", width="18", height="10", viewbox="0 0 18 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M1.18267 9.00018C0.910673 9.26818 0.473672 9.26818 0.203672 9.00018C-0.0663284 8.73218 -0.0673279 8.29918 0.203672 8.03118L8.11167 0.201183C8.38167 -0.0668173 8.81867 -0.0668173 9.09067 0.201183L16.9987 8.03118C17.2687 8.29918 17.2687 8.73218 16.9987 9.00018C16.7277 9.26818 16.2897 9.26818 16.0197 9.00018L8.60067 1.85918L1.18267 9.00018Z", fill="#1F40FF")
                                        div(class="mt-6 border-l-2 border-gray-50 pl-10")
                                            p(class="mb-5 text-xl") The point of using Lorem Ipsum is that it has a more-or-less normal:
                                            p(class="mb-2 text-lg")
                                                span(class="inline-block mr-6 h-2 w-2 rounded-full bg-blue-500")
                                                |                         
                                                span Distribution of letters
                                            p(class="text-lg")
                                                span(class="inline-block mr-6 h-2 w-2 rounded-full bg-blue-500")
                                                |                         
                                                span Content here
                            li(class="mb-4 px-4 lg:px-12 py-8 bg-white rounded-2xl")
                                button(class="flex w-full text-left")
                                    div(class="w-auto mr-8")
                                        span(class="flex items-center justify-center w-12 h-12 text-lg font-bold bg-blue-100 rounded-full") 2
                                    div(class="w-full mt-3")
                                        div(class="flex items-center justify-between")
                                            h3(class="text-xl font-bold") Can I pay by card?
                                            span(class="ml-4")
                                                svg(class="w-4 h-4", width="18", height="10", viewbox="0 0 18 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M16.0185 0.999999C16.2905 0.732 16.7275 0.732 16.9975 0.999999C17.2675 1.268 17.2685 1.701 16.9975 1.969L9.0895 9.799C8.8195 10.067 8.3825 10.067 8.1105 9.799L0.2025 1.969C-0.0675004 1.701 -0.0675004 1.268 0.2025 1C0.4735 0.732 0.9115 0.732 1.1815 1L8.6005 8.141L16.0185 0.999999Z", fill="#1F40FF")
                                        div(class="hidden mt-6 border-l-2 border-gray-50 pl-10")
                                            p(class="text-xl") The point of using Lorem Ipsum is that it has a more-or-less normal:
                            li(class="mb-4 px-4 lg:px-12 py-8 bg-white rounded-2xl")
                                button(class="flex w-full text-left")
                                    div(class="w-auto mr-8")
                                        span(class="flex items-center justify-center w-12 h-12 text-lg font-bold bg-blue-100 rounded-full") 3
                                    div(class="w-full mt-3")
                                        div(class="flex items-center justify-between")
                                            h3(class="text-xl font-bold") How often should the app be updated?
                                            span(class="ml-4")
                                                svg(class="w-4 h-4", width="18", height="10", viewbox="0 0 18 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M16.0185 0.999999C16.2905 0.732 16.7275 0.732 16.9975 0.999999C17.2675 1.268 17.2685 1.701 16.9975 1.969L9.0895 9.799C8.8195 10.067 8.3825 10.067 8.1105 9.799L0.2025 1.969C-0.0675004 1.701 -0.0675004 1.268 0.2025 1C0.4735 0.732 0.9115 0.732 1.1815 1L8.6005 8.141L16.0185 0.999999Z", fill="#1F40FF")
                                        div(class="hidden mt-6 border-l-2 border-gray-50 pl-10")
                                            p(class="text-xl") The point of using Lorem Ipsum is that it has a more-or-less normal:
                            li(class="mb-4 px-4 lg:px-12 py-8 bg-white rounded-2xl")
                                button(class="flex w-full text-left")
                                    div(class="w-auto mr-8")
                                        span(class="flex items-center justify-center w-12 h-12 text-lg font-bold bg-blue-100 rounded-full") 4
                                    div(class="w-full mt-3")
                                        div(class="flex items-center justify-between")
                                            h3(class="text-xl font-bold") Are Zospace apps free?
                                            span(class="ml-4")
                                                svg(class="w-4 h-4", width="18", height="10", viewbox="0 0 18 10", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M16.0185 0.999999C16.2905 0.732 16.7275 0.732 16.9975 0.999999C17.2675 1.268 17.2685 1.701 16.9975 1.969L9.0895 9.799C8.8195 10.067 8.3825 10.067 8.1105 9.799L0.2025 1.969C-0.0675004 1.701 -0.0675004 1.268 0.2025 1C0.4735 0.732 0.9115 0.732 1.1815 1L8.6005 8.141L16.0185 0.999999Z", fill="#1F40FF")
                                        div(class="hidden mt-6 border-l-2 border-gray-50 pl-10")
                                            p(class="text-xl") The point of using Lorem Ipsum is that it has a more-or-less normal:
            section(class="relative py-20 2xl:py-40 bg-gray-800 overflow-hidden")
                img(class="absolute top-0 right-0 h-24 lg:h-32 lg:mr-24 mt-12", src="zospace-assets/images/stars.svg", alt="")
                img(class="absolute bottom-0 right-0 -mr-64 -mb-64", src="zospace-assets/lines/circle.svg", alt="")
                img(class="absolute bottom-0 left-0 w-64 lg:w-112", src="zospace-assets/lines/circle-gray-half.svg", alt="")
                img(class="absolute bottom-0 left-0 w-128 h-128 -mb-72", src="zospace-assets/lines/circle.svg", alt="")
                div(class="relative container px-4 mx-auto")
                    div(class="text-center mb-12")
                        span(class="text-lg font-bold text-blue-400") Contact
                        h2(class="mt-12 mb-10 text-5xl text-white font-bold font-heading") Connect with our team
                        p(class="max-w-md mx-auto text-lg text-gray-300") A short message that will bring your customers into the world of your imagination.
                    div(class="flex flex-wrap -mx-4 mb-20")
                        div(class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0")
                            div(class="py-10 px-12 h-full bg-gray-500 rounded-lg")
                                div(class="flex flex-wrap -mx-2")
                                    div(class="w-full md:w-auto lg:w-1/3 px-2")
                                        span(class="flex-shrink-0 flex items-center justify-center w-12 h-12 mr-8 bg-blue-500 rounded-full")
                                            svg(class="w-5 h-5", width="23", height="23", viewbox="0 0 23 23", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M18.5 11C16.0185 11 14 13.0962 14 15.6729C14 19.2285 17.8951 22.6871 18.0612 22.8339C18.3123 23.0554 18.6877 23.0554 18.9388 22.8339C19.1049 22.6885 23 19.2298 23 15.6729C23 13.0962 20.9815 11 18.5 11ZM18.5 17.4618C17.5077 17.4618 16.7003 16.6338 16.7003 15.6161C16.7003 14.5985 17.5077 13.7705 18.5 13.7705C19.4923 13.7705 20.2997 14.5985 20.2997 15.6161C20.2997 16.6338 19.4923 17.4618 18.5 17.4618Z", fill="white")
                                                path(d="M9.01758 0C4.04824 0 0 4.04035 0 9C0 13.9597 4.04824 18 9.01758 18C9.90081 18 10.7583 17.8745 11.5604 17.6315C10.1794 14.5374 10.8571 11.7539 12.7236 9.9193C12.6912 9.9193 12.2597 9.73436 12.2272 9.72086C8.69567 8.37903 5.3927 12.6232 8.35888 16.156C6.02299 15.94 4.00361 14.6171 2.84987 12.7096C4.09829 12.4153 5.00721 11.3057 5.02344 9.9922C5.04373 9.16199 5.60505 8.59232 6.30433 8.43573C9.41794 7.77021 9.7128 3.90535 8.51307 1.83051C9.34355 1.78461 10.0442 1.80756 11.0383 2.10049C10.7881 4.61407 12.1501 7.66087 15.1596 7.37468L16.0158 7.27614C16.0875 7.57312 16.1335 7.87011 16.1605 8.18464C16.7272 8.08745 17.4468 8.06855 18 8.17519C17.5739 3.60027 13.7056 0 9.01758 0Z", fill="white")
                                    div(class="w-full md:w-auto lg:w-2/3 px-2 mt-4 lg:mt-0")
                                        h3(class="mb-5 text-lg font-bold font-heading text-white") Bayswater 104, London W16EG, UK
                                        p(class="text-lg text-gray-300") The one est bad, semper six at sem 8 AM - 8 PM
                        div(class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0")
                            div(class="py-10 px-12 h-full bg-gray-500 rounded-lg")
                                div(class="flex flex-wrap -mx-2")
                                    div(class="w-full md:w-auto lg:w-1/3 px-2")
                                        span(class="flex-shrink-0 flex items-center justify-center w-12 h-12 mr-8 bg-blue-500 rounded-full")
                                            svg(class="w-4 h-4", width="18", height="18", viewbox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M17.9347 13.3167C17.811 12.6058 17.2022 12.0401 16.4551 11.94L12.3077 11.3855C11.555 11.2832 10.8101 11.6825 10.4984 12.3528C10.4185 12.5237 10.3521 12.7014 10.2981 12.8848C9.13582 12.4 8.09277 11.7004 7.19375 10.8018C6.29473 9.90315 5.59374 8.86053 5.10992 7.6987C5.29332 7.64471 5.4711 7.57835 5.64213 7.4985C6.31274 7.18695 6.70993 6.44351 6.60866 5.69108L6.05394 1.54536C5.9538 0.797426 5.38784 0.188953 4.66434 0.0641091C4.40105 0.0202451 4.18164 0 3.97348 0C2.61201 0 1.32368 0.71982 0.612565 1.87716C-0.157059 3.13122 -0.0501675 4.73507 0.128736 5.9925C0.533802 8.84029 1.99766 11.7038 4.14451 13.8498C5.74002 15.4446 7.71246 16.6402 9.84693 17.306C10.9339 17.6457 12.2942 18 13.605 18C14.5851 18 15.537 17.802 16.3235 17.2498C17.3733 16.5109 18 15.3052 18 14.0196C18 13.8115 17.9797 13.5911 17.9347 13.3167Z", fill="white")
                                    div(class="w-full md:w-auto lg:w-2/3 px-2 mt-4 lg:mt-0")
                                        h3(class="mb-5 lg:mt-2 text-lg font-bold font-heading text-white") +44 20457523 00 01
                                        p(class="text-lg text-gray-300") The brown me quam, sagittis porttitor lorem vel, commodo fringilla nisl.
                        div(class="w-full lg:w-1/3 px-4")
                            div(class="py-10 px-12 h-full bg-gray-500 rounded-lg")
                                div(class="flex flex-wrap -mx-2")
                                    div(class="w-full md:w-auto lg:w-1/3 px-2")
                                        span(class="flex-shrink-0 flex items-center justify-center w-12 h-12 mr-8 bg-blue-500 rounded-full")
                                            svg(class="w-5 h-4", width="21", height="14", viewbox="0 0 21 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(d="M18.8109 0H2.1878C0.981688 0 0 0.980499 0 2.18676V11.8119C0 13.0182 0.981688 14 2.1878 14H18.8122C20.0183 14 21 13.0182 21 11.8119V2.18676C20.9987 0.980499 20.017 0 18.8109 0ZM19.2492 4.73317L11.716 8.67092C11.3393 8.86387 10.9193 8.96887 10.4993 8.96887C10.0794 8.96887 9.66858 8.86387 9.28273 8.67092L1.74945 4.73317V2.75511L10.0872 7.11288C10.3405 7.24414 10.6555 7.24414 10.9101 7.11288L19.2479 2.75511V4.73317H19.2492Z", fill="white")
                                    div(class="w-full md:w-auto lg:w-2/3 px-2 mt-4 lg:mt-0")
                                        h3(class="mb-5 lg:mt-2 text-lg font-bold font-heading text-white") support@shuffle.dev.dev
                                        p(class="text-lg text-gray-300") It’s over, maecenas tincidunt malesuada dolor sit amet malesuada.
                    div(class="text-center")
                        a(class="inline-block py-4 px-12 text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200", href="#") How it works?
            section(class="py-20 2xl:py-40 bg-gray-800 overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="mb-24 text-center")
                        span(class="text-lg text-blue-400 font-bold") What's new at Shuffle
                        h2(class="mt-8 text-6xl lg:text-7xl text-white font-bold font-heading") Latest blog
                    div(class="flex flex-wrap -m-5")
                        div(class="relative w-full lg:w-1/2 p-5")
                            img(class="hidden lg:block absolute left-0 top-0 -ml-40 mt-24", src="zospace-assets/lines/left-line.svg", alt="")
                            img(class="hidden lg:block absolute right-0 top-0 -mr-24 mt-52", src="zospace-assets/lines/right-line.svg", alt="")
                            img(class="hidden lg:block absolute top-0 left-0 ml-40", style="margin-top: 424px;", src="zospace-assets/lines/left-line.svg", alt="")
                            div(class="relative mb-5 bg-gray-700 rounded-lg")
                                img(class="hidden lg:block absolute right-0 bottom-0 -mr-24 -mb-96", src="zospace-assets/lines/right-line.svg", alt="")
                                div(class="pt-16 px-16 mb-16")
                                    a(class="inline-block", href="#")
                                        h3(class="mb-12 text-5xl text-white font-bold") Is remote work working?
                                        p(class="pr-10 text-lg text-gray-200")
                                            span This morning, platea dictumst nec nunc in hac habitasse is lorem ipsum sit dignissim accumsan.
                                            |                       
                                            span(class="inline-block ml-4")
                                                svg(width="26", height="15", viewbox="0 0 26 15", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M25.4411 7.66782L18.9079 14.355L18.0912 13.5191L23.6404 7.83918L0.533126 7.84336L0.533127 6.66475L23.6404 6.66058L18.4995 1.39864L19.3162 0.562751L25.4411 6.83193C25.6666 7.06277 25.6666 7.43699 25.4411 7.66782Z", fill="white")
                                div(class="relative border-t border-gray-500")
                                    div(class="absolute bottom-0 left-0 ml-16 -mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500")
                                        p(class="text-xl font-bold") 30
                                        p(class="text-xs uppercase text-gray-300") Feb
                                div(class="flex pt-8 pb-10 pr-16 justify-end")
                                    a(class="inline-block py-1 px-3 mr-2 text-white font-bold rounded-lg bg-gray-500", href="#") Music
                                    a(class="inline-block py-1 px-3 text-white font-bold rounded-lg bg-gray-500", href="#") Sport
                            div(class="relative bg-gray-700 rounded-lg")
                                div(class="pt-16 px-16 mb-16")
                                    a(class="inline-block", href="#")
                                        h3(class="mb-12 text-5xl text-white font-bold") How to make a concept map?
                                        p(class="pr-10 text-lg text-gray-200")
                                            span This morning, platea dictumst nec nunc in hac habitasse is lorem ipsum sit dignissim accumsan.
                                            |                       
                                            span(class="inline-block ml-4")
                                                svg(width="26", height="15", viewbox="0 0 26 15", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M25.4411 7.66782L18.9079 14.355L18.0912 13.5191L23.6404 7.83918L0.533126 7.84336L0.533127 6.66475L23.6404 6.66058L18.4995 1.39864L19.3162 0.562751L25.4411 6.83193C25.6666 7.06277 25.6666 7.43699 25.4411 7.66782Z", fill="white")
                                div(class="relative border-t border-gray-500")
                                    div(class="absolute bottom-0 left-0 ml-16 -mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500")
                                        p(class="text-xl font-bold") 30
                                        p(class="text-xs uppercase text-gray-300") Feb
                                div(class="flex pt-8 pb-10 pr-16 justify-end")
                                    a(class="inline-block py-1 px-3 mr-2 text-white font-bold rounded-lg bg-gray-500", href="#") Music
                                    a(class="inline-block py-1 px-3 text-white font-bold rounded-lg bg-gray-500", href="#") Sport
                        div(class="relative w-full lg:w-1/2 p-5")
                            img(class="hidden lg:block absolute right-0 top-0 mt-60 -mr-32", src="zospace-assets/lines/right-line.svg", alt="")
                            div(class="relative mt-32 mb-5 bg-gray-700 rounded-lg")
                                div(class="pt-16 px-16 mb-16")
                                    a(class="inline-block", href="#")
                                        h3(class="mb-12 text-5xl text-white font-bold") 10 ways to keep your remote teams engaged
                                        p(class="pr-10 text-lg text-gray-200")
                                            span This morning, platea dictumst nec nunc in hac habitasse is lorem ipsum sit dignissim accumsan.
                                            |                       
                                            span(class="inline-block ml-4")
                                                svg(width="26", height="15", viewbox="0 0 26 15", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M25.4411 7.66782L18.9079 14.355L18.0912 13.5191L23.6404 7.83918L0.533126 7.84336L0.533127 6.66475L23.6404 6.66058L18.4995 1.39864L19.3162 0.562751L25.4411 6.83193C25.6666 7.06277 25.6666 7.43699 25.4411 7.66782Z", fill="white")
                                div(class="relative border-t border-gray-500")
                                    div(class="hidden lg:block absolute bottom-0 left-0 ml-16 -mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500")
                                        p(class="text-xl font-bold") 28
                                        p(class="text-xs uppercase text-gray-300") Feb
                                div(class="flex pt-8 pb-10 pr-16 justify-end")
                                    a(class="inline-block py-1 px-3 mr-2 text-white font-bold rounded-lg bg-gray-500", href="#") Music
                                    a(class="inline-block py-1 px-3 text-white font-bold rounded-lg bg-gray-500", href="#") Sport
                            div(class="bg-gray-700 rounded-lg")
                                div(class="pt-16 px-16 mb-16")
                                    a(class="inline-block", href="#")
                                        h3(class="mb-12 text-5xl text-white font-bold") #Top20 tools
                                        p(class="pr-10 text-lg text-gray-200")
                                            span This morning, platea dictumst nec nunc in hac habitasse is lorem ipsum sit dignissim accumsan.
                                            |                       
                                            span(class="inline-block ml-4")
                                                svg(width="26", height="15", viewbox="0 0 26 15", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M25.4411 7.66782L18.9079 14.355L18.0912 13.5191L23.6404 7.83918L0.533126 7.84336L0.533127 6.66475L23.6404 6.66058L18.4995 1.39864L19.3162 0.562751L25.4411 6.83193C25.6666 7.06277 25.6666 7.43699 25.4411 7.66782Z", fill="white")
                                div(class="relative border-t border-gray-500")
                                    div(class="absolute bottom-0 left-0 ml-16 -mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500")
                                        p(class="text-xl font-bold") 28
                                        p(class="text-xs uppercase text-gray-300") Feb
                                div(class="flex pt-8 pb-10 pr-16 justify-end")
                                    a(class="inline-block py-1 px-3 mr-2 text-white font-bold rounded-lg bg-gray-500", href="#") Music
                                    a(class="inline-block py-1 px-3 text-white font-bold rounded-lg bg-gray-500", href="#") Sport
                    div(class="mt-14 lg:mt-24 text-center")
                        a(class="inline-block py-5 px-12 mr-4 bg-blue-500 hover:bg-blue-600 rounded-full text-white font-bold transition duration-200", href="#") See all
            section(class="py-20 2xl:py-40 bg-gray-800 overflow-hidden")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4 mb-20")
                        div(class="relative w-full lg:w-1/2 px-4 mb-8 lg:mb-0")
                            a(href="#")
                                img(class="lg:absolute left-0 top-0 lg:-ml-32 2xl:-ml-64 w-full h-64 lg:h-full object-cover", src="https://images.unsplash.com/photo-1517171771326-cbc7f641008a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80", alt="")
                        div(class="w-full lg:w-1/2 px-4 lg:py-12")
                            span(class="text-lg text-blue-400 font-bold") Read our vision
                            |               
                            a(href="#")
                                h2(class="max-w-lg mt-10 mb-14 text-5xl lg:text-6xl font-bold font-heading text-white") The future of software development
                            div(class="inline-flex items-center")
                                img(class="mr-8 w-20 lg:w-24 h-20 lg:h-24 rounded-full", src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", alt="")
                                div(class="text-left")
                                    h4(class="mb-1 text-2xl font-bold text-gray-50") Harry Douglas
                                    p(class="text-white") 20 april, 8:30 am
                    div(class="flex flex-wrap -mx-4")
                        div(class="w-full lg:w-1/2 px-4 lg:py-12")
                            span(class="text-lg text-blue-400 font-bold") New post about
                            |               
                            a(href="#")
                                h2(class="max-w-lg mt-10 mb-14 text-5xl lg:text-6xl font-bold font-heading text-white") Collaborate with your teams!
                            div(class="inline-flex items-center")
                                img(class="mr-8 w-20 lg:w-24 h-20 lg:h-24 rounded-full", src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", alt="")
                                div(class="text-left")
                                    h4(class="mb-1 text-2xl font-bold text-gray-50") Harry Douglas
                                    p(class="text-white") 20 april, 8:30 am
                        div(class="relative w-full lg:w-1/2 px-4 mb-8 lg:mb-0 order-first lg:order-last")
                            a(href="#")
                                img(class="lg:absolute right-0 top-0 lg:-mr-32 2xl:-mr-64 w-full h-64 lg:h-full object-cover", src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80", alt="")
            h1(class="text-5xl mb-2 leading-tight font-bold font-heading") h1. Lorem, ipsum dolor.
            h2(class="text-4xl mb-2 leading-tight font-bold font-heading") h2. Lorem, ipsum dolor.
            h3(class="text-3xl mb-2 leading-tight font-bold font-heading") h3. Lorem, ipsum dolor.
            h4(class="text-2xl mb-2 leading-tight font-bold font-heading") h4. Lorem, ipsum dolor.
            h5(class="text-lg mb-2 leading-tight font-bold font-heading") h5. Lorem, ipsum dolor.
            div
                |         Extra styles placeholder
                |         
                button(class="px-12 text-white font-bold bg-blue-500 hover:bg-blue-600 transition duration-200 rounded-2xl py-3 cursor-not-allowed opacity-50") Hello button
            section(class="relative py-20 2xl:py-40 bg-gray-800 overflow-hidden")
                img(class="absolute top-0 right-0 md:-mr-96 md:-mt-112", src="zospace-assets/lines/circle.svg", alt="")
                img(class="absolute top-0 right-0 h-40 lg:h-80 lg:mr-64 lg:mt-24", src="zospace-assets/images/five-stars.svg", alt="")
                img(class="hidden lg:block absolute top-0 left-0 h-64 -ml-10", src="zospace-assets/images/blue-double-circle.svg", alt="")
                img(class="absolute bottom-0 left-0 h-80", src="zospace-assets/lines/half-double-circle.svg", alt="")
                div(class="relative container px-4 mx-auto")
                    div(class="max-w-3xl mx-auto")
                        a(class="inline-block text-white text-xl font-bold", href="#")
                            img(class="h-7", src="zospace-assets/logos/zospace-logo.svg", alt="", width="auto")
                        img(class="mx-auto mb-8", src="zospace-assets/images/error-404.svg", alt="")
                        div(class="max-w-md mx-auto text-center")
                            h2(class="mb-20 text-2xl text-white font-bold font-heading") Sorry, we can't find that page or something has gone wrong...
                            a(class="inline-block px-12 py-4 text-lg bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full transition duration-200", href="#") Start again
            section(class="2xl:py-20 py-5", ws-template="Footer")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -mx-4 border-b border-gray-100 pt-5 lg:pt-10")
                        div(class="w-full lg:w-3/5 px-4")
                            div(class="flex flex-wrap -mx-4")
                                div(class="w-1/2 lg:w-1/3 px-4 mb-12")
                                    h3(class="mb-8 lg:mb-10 text-xl font-bold font-heading") IntelliFactory
                                    ul(class="text-lg")
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/blogs") Blogs
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/privacy-policy") Privacy Policy
                                        li(class="mb-4 Cookies")
                                            a(class="hover:underline", href="/cookie-policy") Cookies
                                        li
                                            a(class="hover:underline", href="#") Contact
                                div(class="w-full lg:w-1/3 px-4 mb-4")
                                    h3(class="mb-8 lg:mb-10 text-xl font-bold font-heading") Services
                                    ul(class="text-lg")
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#consulting") Consulting
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#development") Development
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#code-synthesis") AI-driven Code Synthesis
                                        li(class="mb-4")
                                            a(class="hover:underline", href="/home#dsls") Domain-Specific Languages
                                div(class="w-1/2 lg:w-1/3 px-4 mb-12")
                                    h3(class="mb-8 lg:mb-10 text-xl font-bold font-heading") Open Source
                                    ul(class="text-lg")
                                        li(class="mb-4")
                                            a(class="hover:underline", href="https://websharper.com") WebSharper
                                        li(class="mb-4")
                                            a(class="hover:underline", href="https://fsbolero.io") Bolero
                                        li(class="mb-4")
                                            a(class="hover:underline", href="#") From our Lab
                        div(class="w-full lg:w-2/5 px-4 order-first lg:order-last mb-16 lg:mb-0")
                            h3(class="mb-10 text-xl font-bold") Newsletter
                            form(action="#")
                                div(class="md:max-w-sm mb-8 flex items-center bg-white border border-gray-100 rounded-full")
                                    span(class="inline-block pl-2 lg:pl-5")
                                        svg(width="37", height="37", viewbox="0 0 37 37", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="18.5", cy="18.5", r="9.5", fill="#1F40FF", fill-opacity="0.15")
                                            circle(cx="18.5", cy="18.5", r="18.5", fill="#1F40FF", fill-opacity="0.06")
                                            circle(cx="18.5", cy="18.5", r="2.5", fill="#282C36")
                                    input(class="pl-4 py-2 focus:outline-none rounded-full placeholder-gray-900 font-bold", type="email", placeholder="Your email address")
                                    button(class="ml-auto px-6 lg:px-8 py-4 text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200") Ok
                                p(class="text-gray-300") We will not spam you or give your details to anyone.
                    div(class="flex flex-wrap items-center mb-8 lg:mb-0 pt-5")
                        div(class="w-full md:w-3/4 mb-8 md:mb-0")
                            div(class="md:flex items-center")
                                a(class="inline-block text-gray-900 text-xl font-bold", href="#")
                                    img(class="h-7", src="/img/if-logo-long.png", alt="IntelliFactory", width="auto")
                                |               
                                span(class="hidden md:inline-block mx-8 w-px h-8 bg-gray-50")
                                p(class="hidden lg:block text-sm")
                                    span © 2004-2021 IntelliFactory.
                                    |                 
                                    span(class="text-gray-300") All rights reserved.
                        div(class="w-full md:w-1/4")
                            div(class="md:flex items-center justify-end")
                                a(class="inline-block mr-2", href="https://github.com/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24")
                                        path(d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z")
                                |               
                                a(class="inline-block mr-2", href="https://facebook.com/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#3b5998")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z")
                                |               
                                a(class="inline-block mr-2", href="https://twitter.com/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#00acee")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z")
                                |               
                                a(class="inline-block mr-2", href="https://www.linkedin.com/company/intellifactory")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#0e76a8")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z")
                                |               
                                a(class="inline-block", href="https://vimeo.com/user15828007")
                                    svg(xmlns="http://www.w3.org/2000/svg", width="32", height="32", viewbox="0 0 24 24", fill="#86c9ef")
                                        path(d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.82 11.419c-1.306 2.792-4.463 6.595-6.458 6.595-1.966 0-2.25-4.192-3.324-6.983-.527-1.372-.868-1.058-1.858-.364l-.604-.779c1.444-1.27 2.889-2.745 3.778-2.826.998-.096 1.615.587 1.845 2.051.305 1.924.729 4.91 1.472 4.91.577 0 2.003-2.369 2.076-3.215.13-1.24-.912-1.277-1.815-.89 1.43-4.689 7.383-3.825 4.888 1.501z")
            section(class="relative py-20 2xl:py-40 bg-gray-800")
                div(class="relative container px-4 mx-auto")
                    div(class="text-center mb-20")
                        span(class="text-lg text-blue-400 font-bold") Get the support you need
                        h2(class="mt-10 text-5xl font-bold font-heading text-white") web + F# = WebSharper
                    div(class="max-w-4xl mx-auto")
                        div(class="flex flex-wrap -mx-4 mb-20 divide-x divide-gray-200")
                            div(class="w-full lg:w-1/2 px-4 mb-4 lg:mb-0 pr-10")
                                h3(class="mb-8 lg:mb-4 text-xl text-white font-bold") Want to chat with us?
                                div(class="bg-gray-600 rounded-b-lg")
                                    img(class="h-64 w-full rounded-lg object-cover", src="https://image.freepik.com/free-photo/contacting-with-friends-via-computer_329181-14587.jpg", alt="")
                                    div(class="px-10 py-6")
                                        div(class="mb-6 py-px bg-gray-500")
                                        h3(class="mb-8 lg:mb-4 text-xl text-white font-bold") Hop on our Gitter channel and let's talk WebSharper!
                                        div(class="md:text-center")
                                            a(class="inline-block px-12 py-4 border border-gray-300 hover:border-gray-200 rounded-full font-bold text-white", href="https://gitter.im/intellifactory/websharper") Gitter
                            div(class="w-full lg:w-1/2 px-4 pl-10")
                                h3(class="mb-8 lg:mb-4 text-xl text-white font-bold justify-self-center") Need premium support?
                                div(class="py-6 px-8 mb-4 bg-gray-600 rounded-lg")
                                    div(class="flex items-center")
                                        span(class="flex items-center justify-center w-12 h-12 mr-8 px-3 bg-blue-500 rounded-lg text-white text-xl font-bold")                       1
                                        p(class="text-lg font-bold text-white")
                                            | File your issue in 
                                            a(href="https://websharper.com") GitHub
                                div(class="py-6 px-8 mb-4 bg-gray-600 rounded-lg")
                                    div(class="flex items-center")
                                        span(class="flex items-center justify-center w-12 h-12 mr-8 px-3 bg-blue-500 rounded-lg text-white text-xl font-bold")                       2
                                        p(class="text-lg font-bold text-white")
                                            | Log in on the 
                                            a(href="https://websharper.com") WebSharper website
                                div(class="py-6 px-8 mb-4 bg-gray-600 rounded-lg")
                                    div(class="flex items-center")
                                        span(style="min-width:3rem;", class="flex items-center justify-center w-12 h-12 mr-8 px-3 bg-blue-500 rounded-lg text-white text-xl font-bold")                       3
                                        p(class="text-lg font-bold text-white") Find your issue on the Forums and select "Request support"
                                div(class="py-6 px-8 mb-10 bg-gray-600 rounded-lg")
                                    div(class="flex items-center")
                                        span(style="min-width:3rem;", class="flex items-center justify-center w-12 h-12 mr-8 px-3 bg-blue-500 rounded-lg text-white text-xl font-bold")                       4
                                        |                     
                                        p(class="text-lg font-bold text-white") Work with our team to resolve the issue
                        div(class="text-center")
                            p(class="mb-4 text-xl text-gray-300") .NET functional, reactive web development with WebSharper
                            a(class="inline-flex text-blue-400 hover:text-blue-500 font-bold", href="https://websharper.com")
                                span Learn more
                                svg(class="ml-4 w-4 h-5", width="19", height="20", viewbox="0 0 19 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M18.7383 1.47342L18.7383 10.9304L17.5562 10.9304L17.5562 2.89788L0.834948 19.625L0.00154682 18.7916L16.7228 2.06448L9.28125 2.06448L9.28125 0.882355L18.1472 0.882355C18.4737 0.882355 18.7383 1.14697 18.7383 1.47342Z", fill="#1F40FF")
